body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    line-height: normal;
    text-align: center;
    text-decoration: underline;
}
p {
    font-weight: 600;
    font-size: 3em;
}
#lista-cores {
    background-color:blanchedalmond;
}
#amarelo {
    color: yellow;
}
#vermelho {
    color: red;
}
#marrom {
    color: brown;
}
.fundo-tag {
    background-color: gray;
}
